In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.multioutput import MultiOutputRegressor
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
import os

In [2]:
dir_p = r'C:\Users\Honeyz\Desktop\Aessa\THE_SIS\PyroDataProcessed.csv'
raw_dataset = pd.read_csv(dir_p, skipinitialspace=True)

dataset = raw_dataset.copy()
dataset = dataset.dropna()
dataset = dataset.astype(int)
dataset

,C% Biomass,H% Biomass,O% Biomass,N% Biomass,C% HDPE,H% HDPE,O% HDPE,N% HDPE,C% PS,H% PS,O% PS,N% PS,Time,Rate,Ratio,Temp,Oil%,Char%,Gas%
0,63,8,3,0,85,14,0,0,0,0,0,0,0,5,66,500,60,10,28
1,63,8,3,0,85,14,0,0,0,0,0,0,0,5,100,500,56,0,44
2,63,8,3,0,85,14,0,0,0,0,0,0,0,5,50,500,45,17,36
3,63,8,3,0,85,14,0,0,0,0,0,0,0,5,33,500,44,23,32
4,63,8,3,0,85,14,0,0,0,0,0,0,0,5,0,500,25,34,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,58,6,34,2,0,0,0,0,91,8,0,0,30,100,60,550,16,15,13
243,58,6,34,2,0,0,0,0,91,8,0,0,30,100,61,550,15,14,13
244,58,6,34,2,0,0,0,0,91,8,0,0,30,100,63,550,15,14,13
245,58,6,34,2,0,0,0,0,91,8,0,0,30,100,64,550,14,13,13
246,58,6,34,2,0,0,0,0,91,8,0,0,30,100,66,550,14,13,13

In [3]:
#The following script divides data into attributes and labels:
X = dataset.iloc[:, :16].values
y = dataset.iloc[:, 16:].values

#divide the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [4]:
# Feature Scaling
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X_train)
y = sc_y.fit_transform(y_train)

In [5]:
logreg = LogisticRegression()

# Create the Multioutput Regressor
mor = MultiOutputRegressor(logreg)

In [6]:
# Train the regressor
mor = mor.fit(X_train, y_train)

# Generate predictions for testing data
y_pred = mor.predict(X_test)

# Evaluate the regressor
mse_one = mean_squared_error(y_test[:,0], y_pred[:,0])
mse_two = mean_squared_error(y_test[:,1], y_pred[:,1])
mse_three = mean_squared_error(y_test[:,2], y_pred[:,2])
print(f'MSE for first regressor: {mse_one} - second regressor: {mse_two}- Third regressor: {mse_three}')
mae_one = mean_absolute_error(y_test[:,0], y_pred[:,0])
mae_two = mean_absolute_error(y_test[:,1], y_pred[:,1])
mae_three = mean_absolute_error(y_test[:,2], y_pred[:,2])
print(f'MAE for first regressor: {mae_one} - second regressor: {mae_two}- second regressor: {mae_three}')

MSE for first regressor: 49.92 - second regressor: 22.0- Third regressor: 6.56
MAE for first regressor: 3.88 - second regressor: 3.56- second regressor: 1.76